@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 60px;
    margin: auto;
    color:  rgba(0, 195, 199, 0.51);
}

ul {
    margin-left: 400px;
}
table, th, td {
    padding: 3px;
    margin-top: 50px;
    border: 1px solid black;
}

.messageOk {
    color: green;
    background-color: white;
    border: 1px solid green;
}

.messageNo {
    color: red;
    background-color: white;
    border: 1px solid red;
}